body {
/*    background-color: aliceblue;*/
    background-image: url(animalbackground2%20copy.jpg);

    text-align: center;
}
h1 {
    font-size: 1.5em;
    font-family: fantasy;
}
form {
    
}
.formStyle {

    background-color: aliceblue;
    width: 50%;
    padding: 15%;
    margin: auto;

}
img {
    width: 100%;
    margin: auto
}
.submit {
    border: double;
    color: royalblue;
    font-size: 3.5em;
    margin-top: .5em;
}
h1 {
    margin-top: 10%;
}