html {
/*      background-color: aliceblue;*/
    border-image: url(animalbackground2%20copy.jpg) 30 round;
}
body {
/*
     background-color: aliceblue;
    border-image: url(animalbackground2%20copy.jpg);
*/
    text-align: center;
}
h1 {
    font-size: 1.5em;
    font-family: fantasy;
}
form {
    
}
.formStyle {
/*
    background-color: aliceblue;
    border-image: url(animalbackground2%20copy.jpg);
*/
}