body {
/*    background-color: aliceblue;*/
    background-image: url(animalbackground2%20copy.jpg);

    text-align: center;
}
h1 {
    font-size: 1.5em;
    font-family: fantasy;
}
form {
    
}
.formStyle {

    background-color: aliceblue;
    width: 50%;
    padding: 5%;
    margin: auto;

}
img {
    width: 25em;
    margin: auto
}
.submit {
    border: double;
    color: royalblue;
    font-size: 3.5em;
    margin-top: .5em;
}
h1 {
    background-color: aliceblue;
     width: 50%;
    padding: 2%;
    margin: auto;
    font-size: 3.5em;
    
}
/*
input[type="radio"] {
    height: 20px;
    width: 20px;
    display: block;
    cursor: pointer;
    vertical-align: middle;
    background: #FFF;
    border: 1px solid #d2d2d2;
    border-radius: 100%;
}
*/
input {
    display: inline-block;
}
/*
.radioButton * {
  vertical-align: middle;
}
.radioButton input {
  
}
.radioButton label { 
  width:200px;
  display:inline-block;
    vertical-align: middle;
}
*/
