h1, h2 {
    text-align: center;
    font-family: fantasy;
}
form {
    text-align: center;
}
body {
    background-color: aliceblue;
}
.topnav {
  overflow: hidden;
  background-color: blueviolet;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
img {
    width: 25em;
    height: 50em;
}
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.cartbutton {
    text-align: center;
}
.border {
    width: auto;
    padding: inherit;
    border: 5px solid gray;
    margin: 0;
}
.confirmation {
    text-align: center;
    font-size: 2em;
    font-family: fantasy;
}
.bookconfirmation {
    text-align: center;
    font-size: 2em;
    font-family: fantasy;
    color: darkseagreen;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin 4px 2px;
    cursor: pointer;
}